*{
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.skills h2{
   font-weight: 800;
   letter-spacing: 1px;
   margin-top: 40px;
   margin-bottom: 10px;
   color: black;
   font-size: 16px;
}
.progress-bar{
    background: #000000;
    width: 600px;
    height: 10px;
    border-radius: 5px;
}
.progress-bar div{
    height: 10px;
    border-radius: 5px;
    width: 0%;
}
.progress-bar div span{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background: rgb(255, 255, 255);
    float: right;
    margin-top: -15px;
    margin-right: -20px;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.html{
    background-color: #e91e63;
    animation: html 1s linear forwards;
}
.css{
    background-color: #fd7600;
    animation: css 1s linear forwards;
}
.javascript{
    background-color: #00bcd4;
    animation: javascript 1s linear forwards;
}
.bootstrap{
    background-color: #ffeb3b;
    animation: bootstrap 1s linear forwards;
}
.c{
    background-color: #d900ff;
    animation: c 1s linear forwards;
}
.cpp{
    background-color: #00ff40;
    animation: cpp 1s linear forwards;
}
.html span{
    border: 3px solid #e91e63;
}
.css span{
   border:3px solid  #fd7600;
}
.javascript span{
   border:3px solid #00bcd4;
}
.bootstrap span{
   border:3px solid  #ffeb3b;
}
.c span{
   border:3px solid  #d900ff;
}
.cpp span{
    border:3px solid #00ff40;
}
@keyframes html{
    100%{
        width: 86%;
    }
}
@keyframes css{
    100%{
        width: 74%;
    }
}
@keyframes javascript{
    100%{
        width: 49%;
    }
}
@keyframes bootstrap{
    100%{
        width: 20%;
    }
}
@keyframes c{
    100%{
        width: 66%;
    }
}
@keyframes cpp{
    100%{
        width: 16%;
    }
}