*{
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
body{
    background: #080808;
    color: #fff;
}
.logo{
    height: 100px;
    width: 250px;
    cursor: pointer;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar ul li{
    display: inline-block;
    list-style: none;
    margin: 0 20px;

}
.navbar ul li{
    text-transform: uppercase;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    position: relative;
}
.navbar ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
.navbar ul li a:hover::after{
  width:100%;
}
.service{
    margin: auto 100px auto 100px;
}
#services{
    
    padding: 30px 0;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    grid-gap: 60px;
    margin-top: 50px;
    line-height: 1.5;
    color: white;
}
.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 20px;
    transition: background 0.5s,transform 0.5s;
    border: 3px solid #ff004f;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a{
    text-decoration: none;
    color: white;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover{
    background: #ff004f;
    transform: translateY(-10px);
}

/*2nd*/

.servicet{
    margin: auto 100px auto 100px;
}
#servicestwo{
    
    padding: 30px 0;
}
.servicest-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    grid-gap: 60px;
    margin-top: 50px;
    line-height: 1.5;
    color: white;
}
.servicest-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 20px;
    transition: background 0.5s,transform 0.5s;
    border: 3px solid #ff004f;
}
.servicest-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.servicest-list div a{
    text-decoration: none;
    color: white;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.servicest-list div:hover{
    background: #ff004f;
    transform: translateY(-10px);
}